* {
  margin: 0;
  padding: 0;

  /* font */
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

.attribution {
  font-size: 0.6rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 0.8rem;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-cyan);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  width: 350px;
  height: 380px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.top-container {
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
  border-radius: 15px;
}

.main-contents {
  width: max-content;
  margin: auto;
  position: relative;
  top: 30%;
  text-align: center;
}

img {
  border-radius: 50%;
  border: 5px solid white;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}

.name-age {
  font-weight: 700;
  margin: 0.5rem;
}

.name-age > span {
  font-weight: 400;
  color: var(--Darkgray);
}

.location {
  font-size: 0.8rem;
  color: var(--Darkgray);
}

.numbers {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.numbers-title {
  color: var(--Darkgray);
  font-size: 0.5rem;
}

@media screen and (max-width: 375px) {
  main {
    width: 300px;
  }
}
